<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="style.css">

    <div class="loginbox">
        <h1>Username</h1>
        <form id="usernameForm" action="/chatRoom">
            <input id="username" type="text" name="login" placeholder="Enter Username">
            <input type="submit" name="" value="Login" href="chatRoom.ejs">
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="client.js"></script>
    
  </body>
</html>