:root{
    --darkestRGB: rgba(11,9,10, 0.15);
    --darkest: #0B090A;
    --dark: #161A1D;
    --light: #D3D3D3;
    --lighter: #F5F3F4;
    --lightest: #FFFFFF;
    --special: #E5383B;
}

body { 
    background: var(--lighter);
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

#chatRoom { 
    display: none; 
}

#form { 
    background: var(--darkestRGB); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

#input:focus {
    outline: none; 
}

#form > button {
    background: var(--darkest); 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li {
    padding: 0.5rem 1rem; 
    background: var(--light);
}

#messages > li:nth-child(odd) {
    background: var(--lightest); 
}

.loginbox{
    width: 320px;
    height: 420px;
    background: var(--darkest);
    color: var(--lightest);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"]{
    border: none;
    border-bottom: 1px solid var(--lightest);
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--lightest);
    font-size: 16px;
}
.loginbox input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: var(--special);
    color: var(--darkest);
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="button"]:hover{
    cursor: pointer;
    background: var(--lightest);
    color: var(--darkest);
}